.sci-fi-screen-wrapper {
    background-color: var(--background-color);
    width: 320px;
    aspect-ratio: 320 / 520;
}

.sci-fi-screen {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    /* border: 3px solid rgb(var(--primary-color)); */
    width: 304px;
    height: 494px;
    border-radius: 1rem;
    background-color: rgb(var(--primary-color));
    /* background-color: var(--background-color); */
    aspect-ratio: 320 / 520;
    grid-row-start: 1;
    grid-column-start: 1;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) -10px var(--clip-bottom) -10px);
    animation: container-stack 220ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), container-glitch 2s ease infinite 2s alternate-reverse;
}

.sci-fi-screen-internal {
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    /* aspect-ratio: 320 / 520; */
    display: grid;
    grid-template-columns: 1fr;
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: var(--background-color);
    border-radius: 1rem;
}

.sci-fi-screen:nth-child(odd) {
    /* transform: scale(0.8); */
    --glitch-translate: 8px;
}

.sci-fi-screen:nth-child(odd)::after {
    transform: scale(0.8);
}

.sci-fi-screen:nth-child(even) {
    /* transform: scale(0.6); */
    --glitch-translate: -8px;
}

.sci-fi-screen:first-child {
    clip-path: polygon(0 0, calc(50% - 64px) 0, calc(50% - 54px) 8px, 50% 8px, calc(50% + 54px) 8px, calc(50% + 64px) 0, 100% 0, 100% var(--stack-height), 0 var(--stack-height), 0 0);
}

.sci-fi-screen:first-child>.sci-fi-screen-internal {
    clip-path: polygon(0 0, calc(50% - 66px) 0, calc(50% - 56px) 8px, 50% 8px, calc(50% + 56px) 8px, calc(50% + 66px) 0, 100% 0, 100% var(--stack-height), 0 var(--stack-height), 0 0);
}

.sci-fi-screen:last-child {
    clip-path: polygon(0 var(--clip-top), 0 100%, calc(50% - 64px) 100%, calc(50% - 54px) calc(100% - 8px), 50% calc(100% - 8px), calc(50% + 54px) calc(100% - 8px), calc(50% + 64px) 100%, 100% 100%, 100% var(--clip-top));
}

.sci-fi-screen:last-child>.sci-fi-screen-internal {
    clip-path: polygon(0 var(--clip-top), 0 100%, calc(50% - 66px) 100%, calc(50% - 56px) calc(100% - 8px), 50% calc(100% - 8px), calc(50% + 56px) calc(100% - 8px), calc(50% + 66px) 100%, 100% 100%, 100% var(--clip-top));
}

@keyframes container-stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        box-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    ;

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        box-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes container-glitch {
    0% {
        box-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    1% {
        box-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    2%,
    100% {
        box-shadow: none;
        transform: none;
    }
}

.sci-fi-screen-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: .8rem;
    background-size: 300%;
    background-position: 0% 0%;
    filter: sepia(100%) hue-rotate(var(--image-hue-rotate));
    opacity: 0.6;
    background-image: url('./4k-space-wallpaper-1.jpg');
    animation: pan-image 20s linear infinite;
}

@keyframes pan-image {
    0% {
        background-position: 37% 30%;
        background-size: 400%;
    }

    20% {
        background-position: 29% 47%;
        background-size: 400%;
    }

    20.0001% {
        /* -- View 2 -- */
        background-position: 60% 85%;
        background-size: 500%;
    }

    40% {
        background-position: 49% 81%;
        background-size: 500%;
    }

    40.0001% {
        /* -- View 3 -- */
        background-position: 80% 42%;
        background-size: 300%;
    }

    60% {
        background-position: 84% 33%;
        background-size: 300%;
    }

    60.0001% {
        /* -- View 4 -- */
        background-position: 0% 0%;
        background-size: 300%;
    }

    80% {
        background-position: 15% 4%;
        background-size: 300%;
    }

    80.0001% {
        /* -- View 5 -- */
        background-position: 80% 10%;
        background-size: 300%;
    }

    100% {
        background-position: 72% 14%;
        background-size: 300%;
    }
}

.sci-fi-screen-overlay {
    border-radius: 1rem;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    background-image: linear-gradient(rgb(var(--primary-color) / .15),
            rgb(var(--primary-color) / .15) 2px,
            transparent 2px,
            transparent 4px);
    background-size: 100% 4px;
    height: 100%;
    width: 100%;
    animation: pan-overlay 32s infinite linear;
}

@keyframes pan-overlay {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% -100%;
    }
}

.sci-fi-screen-content {
    margin: 10px;
    overflow: hidden;
    max-width: 280px;
    border-radius: .8rem;
    color: var(--text-color);
    font-size: 1.5rem;
    flex-direction: column;
    border: 1px solid rgb(var(--primary-color) / 80%);
}

.right {
    text-align: right;
    width: 100%;
}

.sci-fi-screen-title-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.sci-fi-screen-title-wrapper span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    text-align: center;
    font-size: 3rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: sci-fi-screen-title-intro 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), sci-fi-screen-title-glitch 2s ease infinite 2s alternate-reverse;
}

.sci-fi-screen-title-wrapper span:nth-child(odd) {
    --glitch-translate: 8px;
}

.sci-fi-screen-title-wrapper span:nth-child(even) {
    --glitch-translate: -8px;
}

@keyframes sci-fi-screen-title-intro {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    ;

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes sci-fi-screen-title-glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    1% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    2%,
    100% {
        text-shadow: none;
        transform: none;
    }
}

.sci-fi-screen-login {
    position: relative;
    z-index: 1000;
    /* top: 3rem; */
    margin-top: 16px;
    height: 100%;
    width: 100%;
    z-index: 1000;
}

.sci-fi-screen-login-field-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: .2s;
    margin: 4px;
    border-radius: .8rem;
    /* background-color: red; */
    border-bottom: 2px solid rgb(var(--primary-color) / 25%);
}

.sci-fi-screen-login-field-input {
    color: var(--text-color);
    opacity: .7;
    transition: .2s;
    height: 100%;
    width: 100%;
    font-size: .8em;
    padding-top: 8px;
    background: none;
    outline: none;
}

.sci-fi-screen-login-field-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-color);
    opacity: .8;
}

.sci-fi-screen-login-field-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.sci-fi-screen-login-field-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}

.sci-fi-screen-login-options {
    /* display: none; */
    z-index: 1000;
    height: auto;
    width: 100%;
}

/* .sci-fi-screen-login-options:nth-child(0) {
    display: block;
} */

.sci-fi-screen-login-option {
    /* display: none; */
    opacity: 0.7;
    /* z-index: 1000; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    background-color: rgb(var(--primary-color) / 25%);
    margin: 4px;
    border-radius: .8rem;
}

/* .sci-fi-screen:nth-child(6)>.sci-fi-screen-content>.sci-fi-screen-login-options>.sci-fi-screen-login-option {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.sci-fi-screen-login-option:hover {
    opacity: 1;
}

.sci-screen-login-option-title {
    color: var(--text-color);
    font-size: .8em;
    width: 100%;
    text-align: center;
}

.sci-fi-screen-icon {
    fill: var(--text-color);
    position: relative;
    opacity: 0.5;
    transition: 0.2s;
    z-index: 12;
    margin: 4px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci-fi-screen-login-login-button-wrapper {
    width: 100%;
    cursor: pointer;
    width: calc(100% - 8px);
    margin: 4px;
    height: 40px;
    border-radius: .8rem;
}

.sci-fi-screen-login-login-button,
.sci-fi-screen-login-signup-button {
    cursor: pointer;
    width: calc(100% - 8px);
    margin: 4px;
    height: 40px;
    border-radius: .8rem;
}

br {
    width: 100%;
    border-bottom: 1px solid black;
}