:root {
  --background-color: #060608;
  --text-color: #FAFAFA;
  --primary-color: 200 100 0;
  --secondary-color: 0 100 0;
  /* --call-to-action: 0 0 255; */
  --image-hue-rotate: 20deg;
  --black: #060608;
}

html,
body {
  background: transparent;
  overflow: hidden;
  /* font-family: roboto; */
  /* background-color: var(--background-color); */
}

button,
input {
  border-color: transparent;
  background-color: transparent;
}

.app {
  background-color: var(--background-color);
  height: 100vh;
  display: grid;
  place-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-center-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}