:root {
  --background-color: #060608;
  --text-color: #FAFAFA;
  --primary-color: 200 100 0;
  /* --call-to-action: 0 0 255; */
  --image-hue-rotate: 20deg;
  --black: #060608;
}

html,
body {
  background: transparent;
  overflow: hidden;
  /* font-family: roboto; */
  /* background-color: var(--background-color); */
}

.App {
  height: 100vh;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-center-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}